body {
    margin: 0;
    padding: 0;
}

.wool-layer {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transition: background-position 0.2s;
  	-ms-transition: background-position 0.2s;
  	-o-transition: background-position 0.2s;
  	-moz-transition: background-position 0.2s;
  	transition: background-position 0.2s;
}

.logo-item {
	position: absolute;
	right: 50%;
	top: 200px;
	margin-right: -600px;
    -webkit-transition: top 1s;
  	-ms-transition: top 1s;
  	-o-transition: top 1s;
  	-moz-transition: top 1s;
  	transition: top 1s;
}